/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* root variables  */
:root {
  /* fonts family */
  --font-poppins: "Poppins", sans-serif;

  /* colors  */
  --color-1: #fff;

  /* bg colors  */
  --bg-1: #f0f0f0;
  --bg-2: #333;
  --bg-3: #ff5722;
  --bg-4: #e64a19;
}

/* resets  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
}

/* body  */
body {
  background-color: var(--bg-1);
}

/* header design starts here */
/* header  */
header {
  background-color: var(--bg-2);
  color: var(--color-1);
  text-align: center;
  padding: 20px 20px 30px 20px;
}

/* header h1  */
header h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* search div  */
header .search {
  display: flex;
  justify-content: center;
}

/* search input box  */
header .search input {
  padding: 10px;
  border: none;
  width: 40%;
  font-size: 15px;
  outline: none;
  border-radius: 10px 0 0 10px;
}

/* search button  */
header .search button {
  padding: 10px 20px;
  background-color: var(--bg-3);
  border: none;
  width: 10%;
  cursor: pointer;
  font-size: 15px;
  color: var(--color-1);
  font-weight: 600;
  border-radius: 0 10px 10px 0;
  transition: all 0.3s ease;
}

/* search button hover effect  */
header .search button:hover {
  background-color: var(--bg-4);
}
/* header design ends here */

/* meal list design starts here  */
/* meal list div  */
.meal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

/* meal item  */
.meal-item {
  flex-basis: calc(25% -20px);
  max-width: calc(25% - 20px);
  margin: 10px;
  padding: 20px 20px 10px 20px;
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* meal item hover effect  */
.meal-item:hover {
  transform: scale(1.05);
}

/* meal item image  */
.meal-item img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

/* meal item h3  */
.meal-item h3 {
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
  font-weight: 600;
}
/* meal list design ends here  */

/* modal container design starts here  */
.modal-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-1);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  max-width: 90%;
  overflow: auto;
  border-radius: 10px;
}

/* modal container close button  */
.modal-container .close-btn {
  font-size: 42px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--bg-2);
  width: 100%;
  text-align: right;
  margin-bottom: 16px;
  transition: all 0.3s ease;
}

/* modal container close button hover effect  */
.modal-container .close-btn:hover {
  color: var(--bg-3);
}

/* meadl details content  */
.meal-details-content {
  overflow-y: auto;
  max-height: 70vh;
}

.recipe-title {
  color: rgb(60, 4, 112);
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5px;
}

.recipe-category {
  color: brown;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.recipe-instruct h3 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}

.recipe-instruct p {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: justify;
  padding: 18px;
}

.recipe-img img {
  max-width: 50%;
  display: block;
  margin: 0 auto 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.recipe-video {
  text-align: center;
  margin-top: 10px;
}

.recipe-video a {
  padding: 10px 20px;
  background-color: #ff5722;
  border: none;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.recipe-video a:hover {
  background-color: #e64a19;
}
/* modal container design ends here  */

/* footer design starts here  */
footer {
  background-color: var(--bg-2);
  color: var(--color-1);
  text-align: center;
  padding: 10px;
}

footer p {
  font-size: 15px;
}
/* footer design ends here  */

/* responsive  */
@media screen and (width < 980px) {
  .meal-item {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
    margin: 0;
  }

  header .search input {
    width: 80%;
  }

  header .search button {
    width: 20%;
  }

  .recipe-img img {
    max-width: 80%;
  }
}

@media screen and (width < 540px) {
  .meal-item {
    flex-basis: calc(100% - 20px);
    max-width: calc(100% - 20px);
  }

  header .search input {
    width: 60%;
  }

  header .search button {
    width: 40%;
    padding: 7px 7px;
    font-size: 14px;
  }

  .recipe-img img {
    max-width: 95%;
  }

  .recipe-video a {
    padding: 5px 5px;
    font-size: 16px;
  }

  .recipe-title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  recipe-category {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .recipe-instruct h3 {
    font-size: 16px;
    margin-top: 30px;
    text-align: center;
  }

  .recipe-instruct p {
    font-size: 16px;
  }
}
